<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>
                {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
                {% block subtitle %}{% endblock %}
            </title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}" />{% endif %}
            {% if site_description is defined %}<meta name="description" content="{{ site_description }}" />{% endif %}
            {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}" />{% endif %}
            {% block meta %}{% endblock %}
            <link rel="stylesheet"
                  href="{{ url_for("static", file="style.css") }}"
                  type="text/css" />
        {% endblock %}
    </head>

    <body>
        {# Top navigation bar #}
        {% block nav %}
            <header>
                <h1>
                    <a href="{{ url_for("index") }}">
                        {% block title %}
                            <img src="/static/logo.jpg" alt="{{ site_name | default("weblorg website") }}">
                        {% endblock %}
                    </a>
                </h1>
                <a href="#main" class="visually-hidden">jump to main content</a>
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="{{ url_for("posts-index") }}" class="img-link"><img src="/static/blog-link-img.png" alt=""></a>
                        </li>

                        <li>
                            <a href="{{ url_for("pages", slug="about") }}" class="img-link"><img src="/static/about-link-img.png" alt=""></a>
                        </li>
                    </ul>
                </nav>
            </header>
        {% endblock %}

        <main id="main">
            {% block main %}{% endblock %}
        </main>

        {% block footer %}
            <footer>
                <p>Webmaster:
                    <a href="https://www.linkedin.com/in/tanner-legasse/" target="_blank">Tanner Legasse</a>
                </p>
            </footer>
        {% endblock %}
    </body>
</html>
